@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite-typography";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@custom-variant data-selected (&[data-selected="true"]);
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #030712;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h2 {
    font-size: x-large;
  }
  h1 {
    font-size: x-large;
  }
  h3 {
    font-size: x-large;
  }
  h4 {
    font-size: x-large;
  }
  h5 {
    font-size: x-large;
  }
  input[type='text'],
  input[type='url']{
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 8px;
    width: 40ch;
    margin-bottom: 8px;
  }
  input[type='date'],
  input[type='number']{
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 8px;
    margin-bottom: 8px;
  }
  label{
    display: block;
    color: black;
    font-weight: 600;
  }
  form{
    background-color: rgb(244, 244, 244);
  }
  button.formBtn{
    background-color: white;
    padding-inline: 6px;
    padding-block: 4px;
    border-radius: 3px;
    color: black;
    border: 1px solid black;
  }
}

.tagRow{
  position: relative;
  z-index: 4;
}

.tagRow:before{
  content: "Built with:";
  position: absolute;
  top: -1.5rem;
  left:-2.5rem;
  opacity: 50%;
  z-index: 3;
  width: max-content;
}

.linkRow{
  position: relative;
  z-index: 4;
}

.linkRow:before{
  content: "Link(s):";
  position: absolute;
  top: -1.5rem;
  left:-2.5rem;
  opacity: 50%;
  z-index: 3;
}

.tiptap-button-icon,
.tiptap-button-dropdown-small{
  stroke: black;
}
.tiptap-button-text{
  color: black;
}

blockquote {
  background: #111;
  border-left: 10px solid #555;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: #ddd;
}

code {
  color: #3c3;
  background: #2f4f4f;
  padding: .1rem .3rem .2rem;
}
/*blockquote:before {*/
/*  color: #ccc;*/
/*  content: '"';*/
/*  font-size: 4em;*/
/*  line-height: 0.1em;*/
/*  margin-right: 0.25em;*/
/*  vertical-align: -0.4em;*/
/*}*/
/*blockquote p {*/
/*  display: inline;*/
/*}*/